#Background1{
    background-image: url(images/pigeon.jpg);
    background-repeat :no-repeat;
    width: auto;
    height: 45%;
    background-size: 100% 100%
}
#TitleBG{
    text-align: center;
    font-size: 50px;
    font-family:Impact, 'Arial Narrow Bold', sans-serif ;
}
footer{
    width: auto;
    height: 10%;
    text-align:center;
    background-color: aquamarine; 
    border: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    outline-style: solid;
    outline-color: lightskyblue;
    
}
.TexteFooter{
    padding: 2%;
    font-weight: bold;
    font-size: 20px;
}
.MenuNav{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aquamarine;
    margin: 0 0 10px 0;
    display:flex;
    border: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
    margin-top: 10px;
    outline-style: solid;
    outline-color: lightskyblue;
}
.MenuNav a{
    color: blue;
    flex:auto;
    text-decoration: none;
    font-family: monospace;
    font-size: 24px;
}
header{
    width: auto;
    height: 10%;
    text-align:center;
    background-color: lightskyblue; 
    margin-bottom: 10px;
    border: 5px 5px 5px 5px;
    border-color: black;
    border-style: solid;
}
header h1{
    font-size: 45px;
    
}
#ListeArticles{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 15%;
    color:white;
}
#ListeArticles dt{
    flex:auto;
    text-align: justify;
    
    
}
body{
    background-color: lightslategrey;
    margin: 3px 3px 3px 3px;
}
.Titre24px{
    font-family: monospace;
    font-size: 24px;
    text-align: center;
    margin-bottom: 2%;
}
#PhotoCreateur{
   
    margin-right: auto;
    margin-left: auto;
    display:block;
    height: 35%;
    width: 50%;

    
}
#ContainerCrea{
    margin-bottom: 5%;
}
.TextCenter{
    text-align: center;
    font-family: monospace;
}
.FlexContainer{
    display:flex;
}
.PhotoArticle{
    flex:none;
    width:150px;
    height: 150px;
    border: 10px 10px 10px 10px;
    border-color: greenyellow;
    border-style: solid;
    
}
.MenuNavArticle{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightseagreen;
    margin: 10px 10px 10px 10px;
    display:flex;
   
}
.MenuNavArticle a{
    flex:auto;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}
.TexteFlexArticle{
    flex:4;
    text-align: center;
    
}
.TexteParaTop{
    text-align: justify;
    font-size: 20px;

    margin-left: 15%;
    margin-right: 15%;
    border-top: 10px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: double;
    color: white;
}
.TextePara{
    text-align: justify;
    font-size: 20px;

    margin-left: 15%;
    margin-right: 15%;
    

    color: white;
}
#flexCenter{    
    display:flex;
    justify-content: center;
}
dt{
    color:orange;
    
}
dd{
    color:white;
    
}
.FooterPic{
    height: 40px;
    width: 40px;
}
div dl div{
    border-color: black;
    border-style:double;

    margin: 0px 0px 10px 0px;
}
.LienDiv a{
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 36px;
}